* {
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 800px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 430px;
  width: 100%;
  min-height: 800px;
  background-color: white;
}

.container .intro-button {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 62%;
  width: 40%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self:center;
  margin-bottom: 10px;
}

.container .intro-button > a {
  text-decoration: none;
  display: block;
  height: 60px;
  width: 100%;
  background-color: black;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}


.intro-title > img{
  width: 300px;
  align-self: center;
  margin-top: 50px;
}
.intro-title{
  align-self: center;
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
}