.two {

    display: inline;
    float: right;
    margin-top: 4px;

}

.one {

    display: inline-block;

}

.four {

    display: inline;
    float: right;
    margin-top: -65px;

}

.six {

    display: inline;
    float: right;
    margin-top: -67px;

}

.eight {

    display: inline;
    float: right;
    margin-top: -69px;

}

.ten {

    display: inline;
    float: right;
    margin-top: -71px;

}

.b-info-cafe-detail{

    height: 860px;
    background-color: #F1F1F1;

}