.info-img {
    display: block;
}

.info-img > img {
    width: 100%;
    object-fit: cover;
}

.info-cafe {
    margin-top: -30px;
    width: 100%;
    display: flex;


}

.r-info-cafe-detail {
    height: 800px;
    background-color: #F1F1F1;

}

.r-tab {
    font-size: 14pt;
    width: 33.3%;
    height: 50px;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding-top: 25px;
    color: #DCDCDC;
    border-top: 3px solid #E4E4E4;

}

.r-clicked {

    width: 33.4%;
    border-left: 3px solid #E4E4E4;
    border-top: 3px solid #E4E4E4;
    border-bottom: 3px solid #F1F1F1;

}

.r-left {

    border-top-left-radius: 30px;
    border-top: 3px solid #E4E4E4;

}

.r-right {

    color: #000000;
    width: 33.4%;
    width: 33.4%;
    border-top-right-radius: 30px;
    border-top: 3px solid #E4E4E4;
    border-right: 3px solid #E4E4E4;
    border-left: 3px solid #E4E4E4;
    background-color: #F1F1F1;
}

.r-rbutton {

    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 90px;
    height: 25px;
    padding: 3px 0px 0px 20px;
    color:#000000;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;

}

.r-shortbar {

    border-bottom: 3px solid #E4E4E4;

}

.starnum {

    display: inline;
    float: right;
    margin-top: 20px;
    margin-right: 20px;



}

.r-title {

    margin-top: 20px;
    margin-left: 30px;




}



.r-star {

    color:rgb(255, 221, 29)

}

.star-mg {
    margin-top: 20px;
    margin-left: 30px;
}

.r-name {

    margin-top: 10px;
    margin-left: 30px;
    color: #707070;

}


.r-review {

    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;

}

.r-star-gray {

    color:#dadada

}