section.allcafe > h2{
	width:100%;
	border-bottom: 1px solid gray;
	text-align: center;
	padding-bottom:1rem;
	font-weight: 400;
	background-color: white;
}

section.allcafe > article{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem;
	margin-bottom: 5rem;
	background-color: white;
}

.abutton{
	background-color: white;
	border-radius: 50px;
	width: 90px;
	height: 25px;
	padding: 3px 0px 0px 20px;
	color: black;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 50px;
	margin-left:4px;
	border: black 2px solid;
    cursor: pointer;
}

.abutton:nth-child(2){
	background-color: black;
	color: white;
}

.abutton:hover{
    background-color:black;
	color:white;
}


.item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin-bottom: 1rem;
	text-align: center;
	background-color: white;

}
.item > img{
	transition: all 0.3s ease;
}
.img-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	gap:20px;
	cursor: pointer;
}

.item > img{
	margin-left: 0 auto;
	margin-right: 0 auto;
	width: 100%;
	height:50%;
	border-radius: 10%;
}
.item > img:hover{
	transform : translate(0, -1rem);
}

.item > span:last-child > i{
	color:rgb(255, 221, 29);
}
.mt-30 {
	margin-top: 30px;
}