section.takeout > h2{
	width:100%;
	border-bottom: 1px solid gray;
	text-align: center;
	padding-bottom:1rem;
	font-weight: 400;
	background-color: white;
}
section.takeout > h3{
	padding : 0 1rem 1rem;
	background-color: white;
}
section.takeout > article{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem;
	margin-bottom: 5rem;
	background-color: white;
}
.menu-box{
	display: flex;
	flex-direction: column;
	width:47%;
	position: relative;
	margin-bottom: 1rem;
	text-align: center;
	background-color: white;
}
.menu-box > img{
	border-radius: 10px;
	cursor: pointer;
	width:100%;
	transition: all 0.3s ease;
}
.menu-box > img:hover{
	transform : translate(0, -1rem);
}

.menu-box > span:last-child > i{
	color:rgb(255, 221, 29);
	margin-bottom: 30px;
}

.menu-box > span:nth-child(1) {
	margin-top: 30px;
}

.mt-50 {
	margin-top: 30px;
}