
{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'style-allcafe.css' %}">

<section class="main">
<article>
    <h2>LIKE</h2>
</article>
</section>

<section class = "cafe-img">
    <div class = "img-box">
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
        <div section class="item"><img src="/static/img/액션가면.jpg"></div>
</section>


    </body>
</section>
{% endblock %}