
{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'style-allcafe.css' %}">

<section class="allcafe">
    <h2><i class="fas fa-map-marker-alt"></i> 서울특별시 강남구</h2>
    <div class = "abutton" onclick="location.href='{% url 'reservation_available' %}'">예약 가능</div>
    <div class = "abutton" onclick="location.href='{% url 'charge_available' %}'">충전 가능</div>
    <article>
    <div class = "cafe-img">
        <div class = "img-box">
            {% for cafe in data %}
            <div section class="item" onclick="location.href='{%url 'information' cafe.id %}'"><img src={{cafe.thumbnail.url}}>
                <span class="mt-30"><strong>{{cafe.title}}</strong></span>
                <span><i class="fas fa-map-marker-alt"></i> {{cafe.distance}}m</span>
                <span><i class="fas fa-star"></i> <strong>{{cafe.rating}}</strong> ({{cafe.number_of_reivew}})</span>
            </div>
            {% endfor %}
    </div>
    </article>
</section>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"/>
{% endblock %}