{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block content %}
<form action="">
  <div class="search-bar">
      <input type="text" class="form-control-text" placeholder="찾으시는 카페나 지역을 검색하세요!"\>
      </div>
  </div>
</form> 
{% load static %}
<section class="main">
    <div class="container">
      <section class="one">카페 모아보기</section>      
      <section class="two">테이크 아웃</section>
      <section class="three">쿠폰</section>

      
      
        <section class="advertisement">

          <div ckass="top-title">&#x1F525; 지금 뜨는 이벤트 &#x1F525;</div>
          <div style="border: 1px solid; color:black; display: flex;">

           <div class = "sgroup">

<img src="../static/img/1.jpg">
           </div>

           <div class = "sgroup">

          <div>글</div>
          <div>글</div>
          <div>글</div>
          <div>글</div>
            
          </div>

          </div>
</section>


{% endblock %}
