{% extends 'base.html' %}
 {% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'style-information.css' %}" />

{% endblock %}

{% block content %}

<section class="info-img">
  <img src={{data.thumbnail.url}} />
</section>

<div class="info-cafe">

  <div class ="tab clicked left"><b>카페정보</b></div>
  <div class ="tab shortbar">메뉴</div>
  <div class ="tab right shortbar" onclick="location.href='{% url 'review' data.id %}'">리뷰</div>
  <div class ='shortbar'></div>

</div>

<section class="info-cafe-detail">

{% if data.reservation_available %}
<div class = "rbutton">예약 가능</div>
{% endif %}
{% if data.charge_available %}
<div class = "rbutton">충전 가능</div>
{% endif %}
{% if data.takeout_available %}
<div class = "rbutton">테이크아웃</div>
{% endif %}
<br>

<div class ="title"><h3>영업정보</h3></div>

<div class = "sgroup">
<div class = "stitle"><h4>운영시간</h4></div>
<div class="sdata">{{data.operating_hour}}</div>
</div>

<div class = "sgroup">
<div class = "stitle"><h4>휴무일</h4></div>
<div class="sdata">{{data.close_day}}</div>
</div>

<div class = "sgroup">
<div class = "stitle"><h4>전화번호</h4></div>
<div class="sdata">{{data.cafe_phone_number}}</div>
</div>

<div class="stag">

<br>
  <!-- #공부하기_좋은&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#카공_스팟&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#조용한 -->
  {{data.explanation}}
<br>

</div>


<br><br><br>

<div class='"people'>
<div class = "ltitle"><h3>대기 인원</h3></div>
<div class = "ldata"><h3><u>{{queuing.waiting_team}}</u>&nbsp;&nbsp;팀</h3></div>
</div>

<div>
<div class='"time'>
<div class = "ltitle"><h3>대기 시간</h3></div>
<div class = "ldata"><h3><u>{{queuing.estimated_latency}}</u>&nbsp;&nbsp;분</h3></div>
</div>

</section>


<div class="btn-group">


  <input type="button" class="round-button" value="대기하기" onclick="location.href='{% url 'booking' queuing.id %}'"></input>


</div>


<div class = "info-alert">


<br>
<strong>│ 대기하기 유의사항 안내</strong>
<br>

&nbsp&nbsp&nbsp&nbsp1. 대기 예상 시간보다 대기시간이 길어질 수 있습니다. <br>
&nbsp&nbsp&nbsp&nbsp2. 대기 인원은 본인을 제외한 팀의 개수입니다. <br>

</div>

{% endblock %}