<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    {% load static %}
  
    <title>Mooding</title>
    <link rel="stylesheet" href="{% static 'style-intro.css'  %}" />
  </head>
  <body>
    <div class="container flex">
      <div class="intro-title">
        <img src="{% static 'img/레이어2.png'%}"/>
      </div>
      <div class="intro-button">
        <a href="{% url 'login' %}">START</a>
      </div>
    </div>
  </body>
</html>
