{% extends 'base.html' %} {% block content %} {% load static %}


<section class="info-img">
  <img src="../static/img/무딩 차담점.png" />
</section>

<div class="info-cafe">

  <div class ="r-tab r-clicked r-left r-shortbar">카페정보</div>
  <div class ="r-tab r-shortbar">메뉴</div>
  <div class ="r-tab r-right"><b>리뷰</b></div>
  <div class ='r-shortbar'></div>


</div>



<section class="r-info-cafe-detail">

<div class='r-middlebar'>

  <div class = "r-rbutton">사진 리뷰</div>
  <div class = "starnum">별점순&nbsp;&nbsp;Ⅴ</div>


</div>


<div class ="r-title"><b><h3>리뷰 317개</h3></b></div>


<hr>


<span><i class="star-mg fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><strong>&nbsp;&nbsp;5.0</strong></span>
<div class = 'r-name'>김**</div>
<div class = 'r-review'>공부하기 좋은 분위기였어요! 카공존으로 추천합니다.</div>

<hr>

<span><i class="star-mg fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><strong>&nbsp;&nbsp;5.0</strong></span>
<div class = 'r-name'>임**</div>
<div class = 'r-review'>수제 디저트가 정말 맛있네요~</div>

<hr>


<span><i class="star-mg fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star-gray"></i><strong>&nbsp;&nbsp;4.0</strong></span>
<div class = 'r-name'>박**</div>
<div class = 'r-review'>분위기가 좋아요. 오미자차 꼭 드셔보세요!</div>

<hr>

<span><i class="star-mg fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star"></i><i class="fas fa-star r-star-gray"></i><i class="fas fa-star r-star-gray"></i><strong>&nbsp;&nbsp;3.0</strong></span>
<div class = 'r-name'>이**</div>
<div class = 'r-review'>조용한 분위기이나, 오랜시간 있기는 불편했습니다.</div>

<hr>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"/>

</div>



</section>



{% endblock %}

