{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'style-takeout.css'%}"/>

<section class="takeout">
	<h2><i class="fas fa-map-marker-alt"></i> 서울특별시 강남구</h2>
	<h3>테이크아웃</h3>
	<article>
		{% for cafe in data %}
		<div class="menu-box" onclick="location.href='{%url 'information' cafe.id %}'">
			<img src="{{cafe.thumbnail.url}}" alt="menu"/>
			<span class="mt-50">{{cafe.title}}</span>
			<span><i class="fas fa-map-marker-alt"></i> {{cafe.distance}}m</span>
			<span><i class="fas fa-star"></i> <strong>{{cafe.rating}}</strong> ({{cafe.number_of_reivew}})</span>
		</div>
		{% endfor %}
	</article>
</section>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"/>
{% endblock %}